## Comorbidity analysis by medications

### ACT ontology mapping
- To calculate the prevalence of various comorbidities in the ASD cohort, we first had to develop a mapping table using the ACT Ontology v2.0.1, which contained ICD-9 and ICD-10 codes.

- 108,024 distinct ICD-9 and ICD-10 codes were mapped to ACT terms aggregated in levels using Microsoft Excel. The LEN function, which is built into Excel, was used to construct the following formula:
    **=LEN(A3)-LEN(SUBSTITUTE(A3,"\",""))**

- When applied to the input table, this formula transformed the ICD-9 and ICD-10 codes into a table organized from Level 0 (the most general category) to Level 9 (the deepest category). ICD-10 codes were organized up to category n, while ICD-9 codes were organized up to category n-1.

- The transformed table was then uploaded into the SQL server and named ACT_ICD10_ICD9_3. 

- To retrieve comorbidities associated with each individual in the ASD cohort and join the ASD cohort with the ACT Ontology mapping table, the ASDMembers, FactICD, and ACT_codes all had to be joined. Since this mapping process was time-intensive, it was performed separately for each level of the mapping table.

### Comorbidity analysis

- In order to estimate the prevalence of comorbidities in the ASD cohort based on the primary medication being taken, the previously mapped ACT table had to also be joined with a table of pharmacy claims.

- First, pharmacy claims for the ASD cohort from 2014-2019 was retrieved.

- The ASD cohort was then divided into subsets based on the medications of interest in this study (methylphenidate, guanfacine, atomoxetine, risperidone, aripiprazole, fluoxetine, and citalopram). First, a subset of the cohort was created for individuals taking each drug.

#### Create the PharmacySubset2014 table

In [ ]:
dbSendUpdate( cn, "")

#### Methylphenydate

In [ ]:
dbSendUpdate( cn, "select 
	distinct MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Methyl_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

#### Atomoxetine

In [ ]:
dbSendUpdate( cn, "select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Atom_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

#### Guanfacine

In [ ]:
dbSendUpdate( cn, "select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Guan_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

#### Risperidone

In [ ]:
dbSendUpdate( cn, "select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Risperid_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

#### Aripiprazole

In [ ]:
dbSendUpdate( cn, "select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Aripip_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) > 0")

#### Fluoxetine

In [ ]:
dbSendUpdate( cn, "
select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Fluox_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

#### Citalopram

In [ ]:
dbSendUpdate( cn, "select 
	MemberID,
	YEAR(DispenseDate) as DispenseYear,
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) as n_Methyl,
	sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) as n_Atom,
	sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) as n_Guan,
	sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) as n_Fluox,
	sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) as n_Cital,
	sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) as n_Risperid,
	sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) as n_Aripip
into Cital_only
from PharmacySubset2014
group by MemberID, YEAR(DispenseDate)
having 
	sum(case when NdcDescription like 'METHYL%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ATOM%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'GUANFA%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'FLUOX%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'CITALO%' then 1 else 0 end) > 0
	and sum(case when NdcDescription like 'RISPER%' then 1 else 0 end) = 0
	and sum(case when NdcDescription like 'ARIPIP%' then 1 else 0 end) = 0")

## Subset patients taking only one drug
Subset those that are only taking one of the drugs and extract the total number of patients in each group, that will be used later to estimate the prevalence of each comorbidity.

#### Methylphenidate only

In [ ]:
-- # individuals in cohort taking methyphenidate ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Methyl_only")
-- returns 4373

-- only include individuals whose date service started was before dispense year of methylphenidate
dbSendUpdate( cn, "SELECT DISTINCT M.MemberID
INTO Methyl_only_trimmed
FROM Methyl_only M, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < M.DispenseYear
ORDER BY M.MemberID")

-- prevalence of comorbidities among those taking methylphenidate ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Methylphenidate_CMs         ----change name if query works
FROM ACTLevel3_CM_3Times CM, Methyl_only_trimmed Methyl 
WHERE CM.MemberID = Methyl.MemberID --do we also need to match MemberID from ACTMap3##########
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Guanfacine

In [ ]:
-- # individuals in cohort taking guanfacine ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Guan_only")
-- returns 3387

-- only include individuals whose date service started was before dispense year of guanfacine
dbSendUpdate( cn, "SELECT DISTINCT M.MemberID
INTO Guan_only_trimmed
FROM Guan_only M, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < M.DispenseYear
ORDER BY M.MemberID")

-- prevalence of comorbidities among those taking guanfacine ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Guanfacine_CMs         ----change name if query works
FROM ACTLevel3_CM_3Times CM, Guan_only_trimmed Guan 
WHERE CM.MemberID = Guan.MemberID --do we also need to match MemberID from ACTMap3GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Atomoxetine

In [ ]:
-- # individuals in cohort taking atomoxetine ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Atom_only")
-- returns 561

-- only include individuals whose date service started was before dispense year of atomoxetine
dbSendUpdate( cn, "SELECT DISTINCT A.MemberID
INTO Atom_only_trimmed
FROM Atom_only A, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < A.DispenseYear
ORDER BY A.MemberID")

-- prevalence of comorbidities among those taking atomoxetine ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Atomoxetine_CMs
FROM ACTLevel3_CM_3Times CM, Atom_only_trimmed Atom 
WHERE CM.MemberID = Atom.MemberID 
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Fluoxetine

In [ ]:
-- # individuals in cohort taking fluoxetine ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Fluox_only")
-- returns 3053

-- only include individuals whose date service started was before dispense year of fluoxetine
dbSendUpdate( cn, "SELECT DISTINCT F.MemberID
INTO Fluox_only_trimmed
FROM Fluox_only F, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < F.DispenseYear
ORDER BY F.MemberID")

-- prevalence of comorbidities among those taking fluoxetine ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Fluoxetine_CMs
FROM ACTLevel3_CM_3Times CM, Fluox_only_trimmed Fluox 
WHERE CM.MemberID = Fluox.MemberID 
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Citalopram

In [ ]:
-- # individuals in cohort taking citalopram ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Cital_only")
-- returns 943

-- only include individuals whose date service started was before dispense year of citalopram
dbSendUpdate( cn, "SELECT DISTINCT C.MemberID
INTO Cital_only_trimmed
FROM Cital_only C, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < C.DispenseYear
ORDER BY C.MemberID")

-- prevalence of comorbidities among those taking citalopram ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Citalopram_CMs
FROM ACTLevel3_CM_3Times CM, Cital_only_trimmed Cital 
WHERE CM.MemberID = Cital.MemberID 
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Risperidone

In [ ]:
-- # individuals in cohort taking risperidone ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Risperid_only")
-- returns 2670

-- only include individuals whose date service started was before dispense year of risperidone
dbSendUpdate( cn, "SELECT DISTINCT R.MemberID
INTO Risperid_only_trimmed
FROM Risperid_only R, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < R.DispenseYear
ORDER BY R.MemberID")

-- prevalence of comorbidities among those taking risperidone ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Risperidone_CMs
FROM ACTLevel3_CM_3Times CM, Risperid_only_trimmed Risperid 
WHERE CM.MemberID = Risperid.MemberID 
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")

#### Aripiprazole

In [ ]:
-- # individuals in cohort taking aripiprazole ONLY
dbGetQuery( cn, "SELECT COUNT(DISTINCT MemberId)
FROM Aripip_only")
-- returns 1997

-- only include individuals whose date service started was before dispense year of aripiprazole
dbSendUpdate( cn, "SELECT DISTINCT Ar.MemberID
INTO Aripip_only_trimmed
FROM Aripip_only Ar, ACTMap3 Map
WHERE YEAR(Map.DateServiceStarted) < Ar.DispenseYear
ORDER BY Ar.MemberID")

-- prevalence of comorbidities among those taking aripiprazole ONLY
-- ACTMap3 table only included for DateServiceStarted
dbSendUpdate( cn, "SELECT CM.Level3, COUNT(CM.Level3) as Level3_prevalence
INTO Aripiprazole_CMs
FROM ACTLevel3_CM_3Times CM, Aripip_only_trimmed Aripip 
WHERE CM.MemberID = Aripip.MemberID 
GROUP BY CM.Level3
ORDER BY Level3_prevalence DESC")